<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/logo.ico" />
        <title>Vendear | {% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
    </head>
   
    <!-- Navbar -->

    <body>
        {% block content %}
         <!-- Page -->
        {% endblock %}      
    </body>
    
</html>

<!-- Scripts -->

{% block js %}{% endblock %}